<div class="image">
    <img src="./assets/tommy-shenkar-2.jpg" alt="tommy shenkar artworks">
</div>
<div class="wrapper">

  <h1>About Tommy Shenkar</h1>
  <div class="text">
    American-Israeli artist, Tommy Shenkar, was born in California to Israeli parents in 1965.
    He studied art history at Santa Monica College in California, and took additional courses in architecture and
    interior design. Though his work allowed him to express his creativity, he still felt that something was missing and
    later found himself investing his artistic energy into being a creator; making jewelry and high-end furniture.<br>
    Over the years, Tommy became an upscale interior designer, designing projects for Hollywood elite.
    it was only several years before Tommy Shenkar found himself tunnelling once more to a new creative field, emerging
    as an artist. Influenced by the sprightly colors of Mexican Californian culture and Pop Art icons such as Roy
    Lichtenstein and Andy Warhol, Shenkar found his artistic outlet in contemporary Pop Art.
    Using assorted recycled materials like wood and plastic, Tommy Shenkar gives in to Americana and nostalgia, yet
    manages to evoke an authentic, deeper, feeling in his crowd.
  </div>
</div>
