<div id="footer">
  <div class="footer-menu">
    <div>
      <div class="menu-links">
        <h2>Follow</h2>
        <a target="_blank" href="https://www.facebook.com/Tommy-shenkar-109654560510807/">
          <img src="./assets/icons/facebook.png" alt="tommy_shenkar">
        </a>
        <a target="_blank" href="https://www.instagram.com/tommyshenkar/">
          <img src="./assets/icons/instagram.png" alt="tommy_shenkar">
        </a>
      </div>
    </div>
    <div>
      <div class="menu-links">
        <h2>Contact</h2>
        <span>Email: email@gmail.com</span>
        <span>Tel: +972 (0)53 999 9999</span>
        <a routerLink="/contact">Send A Message</a>
      </div>
    </div>
  </div>
  <hr>
  <div class="copyrights">
    &nbsp;&copy; {{yr}}, 
    <a href="http://www.tommyshenkar.com/">Tommy Shenkar</a>. 
    <a href="#">Developed by David-el Yosef and Daphne Levy</a>
  </div>
</div>
