<div class="image">
  <img src="./assets/tommy-shenkar-2.jpg" alt="tommy shenkar artworks">
</div>

<div class="wrapper">

  <div class="popup animated fadeInDown {{messagePopup}}">
    <div class="modal-header">
      <button (click)="close()">&#10006;</button>
    </div>
    <div class="modal-body">
      <h3>I will contact you soon</h3>
    </div>
    <div class="modal-footer">
      
    </div>
  </div>

  <h1>Contact Tommy</h1>
  <section>
      <div class="contact-form">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <label for="fullName">Full Name</label>
          <input type="text" class="form-control" 
          name="fullName" formControlName="fullName">
    
          <label for="email">Phone Number</label>
          <input type="number" class="form-control" 
          name="phone" formControlName="phone">
    
          <label for="email">Email</label>
          <input type="email" class="form-control" 
          name="email" formControlName="email">
    
          <label for="subject">Subject</label>
          <input type="text" class="form-control" 
          name="subject" formControlName="subject">
    
          <label for="message">Message</label>
          <textarea name="message" class="form-control" 
          cols="30" rows="10" formControlName="message"></textarea>
    
          <button class="btn btn-primary" type="submit">Send Message</button>
        </form>
      </div>
      <div class="info">
        <b>Address</b>: Israel
        <br><br>
        <b>Phone</b>: +972 (0)53 999 9999
        <br><br>
        <b>Email</b>: email@gmail.com
      </div>
  </section>
</div>
