<div class="img-modal {{modal}}" *ngIf="modalContent" (keyup.arrowleft)="prev()" (keyup.arrowright)="next()"
  (keyup.escape)="closeModal()">

  <div>
    <img src="/assets/artworks/{{modalContent.src}}" alt='tommy shenkar {{modalContent.name}}' loading=lazy
      class="animated fadeIn" #imgInModal>
    <h2>{{modalContent.name}} {{modalContent.material}} {{modalContent.size}} cm</h2>
  </div>

  <button (click)="closeModal()" id="close" title="close" autofocus>&#10006;</button>
  <button (click)="next()" id="next" class="arrows" title="next" #imgModal></button>
  <button (click)="prev()" id="prev" class="arrows" title="previous"></button>

</div>

<div class="artwork" *ngIf="artwork">
  <img src="/assets/artworks/{{artwork.src}}" alt='tommy shenkar {{artwork.name}}' loading=lazy (click)="openModal()">
  <h2>{{artwork.name}}</h2>
  <h3>{{artwork.material}}</h3>
  <h3>{{artwork.size}} cm</h3>
</div>
